{{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

<button type="submit">Changer mot de passe</button>
{{ form_end(form) }}

