{% extends 'base.html.twig' %}

{% block body %}

    <div class="registration-page">
        <img src="{{ asset ('assets/images/logo.png') }}" class="logo">

        {{ form_start(form, {'attr': {'class': 'body-form'}}) }}
        <fieldset>
            <label class="col-3">Nom</label> {{ form_widget(form.fullname, {'attr': {'class': 'col-8'}}) }}
        </fieldset>
        <fieldset>
            <label class="col-3">Pseudo</label> {{ form_widget(form.username, {'attr': {'class': 'col-8'}}) }}
        </fieldset>
        <fieldset>
            <label class="col-3">Adresse Email</label> {{ form_widget(form.email, {'attr': {'class': 'col-8'}}) }}
        </fieldset>
        <fieldset>
            <label class="col-3">Mot de passe</label> {{ form_widget(form.password.first, {'attr': {'class': 'col-8'}}) }}
        </fieldset>
        <fieldset>
            <label class="col-3">Confirmation du mot de passe</label> {{ form_widget(form.password.second, {'attr': {'class': 'col-8'}}) }}
        </fieldset>

        <button type="submit" class="button-form">Inscription</button>
        {{ form_end(form) }}

        <div class="row justify-content-between registration_links">
            <div class="col-4 col-registration">
                <a href="{{ path('index')}}" class="button-retour-registration">Retour</a>
                <ul class="left">
                    <li>
                        <a href="">Nous contacter</a>
                    </li>
                    <li>
                        <a href="">Mentions legals</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <ul class="regles">
                    <li>
                        <a href="{{ asset ('assets/images/regles-stone-conquest.pdf') }}">Regles</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

{% endblock body %}